@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
    --background: #f7f7fa;
    --background-cards: #ffffff;
    --primary-accent: #7c5cfc;
    --darker-accent: #6847f5;
    --light-purple-background: #eee9ff;
    --main-text: #1e1e2f;
    --secondary-text: #6b6b7a;
    --border: #e7e7ef;
    --favorite-accent: #a855f7;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    color: var(--main-text);
}

#root {
    max-width: 100%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: var(--background);
}
